<%= form_for(book) do |f| %>
<%# ???#@book = Book.find(params[:id])とbook_controllerのeditアクションでなっている。あとはどこに送信されるのか%>

	<div class="error">
		<% if book.errors.any? %>
		<%# #any?は存在する場合trueを返し、しない場合はfalseと返す
		???このerrorsはどこから来ているの?%>
			<%= pluralize(book.errors.count, "error") %><span>prohibited this book from being saved:</span>
				<!-- pluralizeは単数形か複数形か示すもの。英語専用。この場合@user.errorsのエラーが２つあればerrorsとなる h3はエラーメッセージ。-->
			<ul>
				<% book.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
		<%# errorメッセージが表示される、ここではName is too short (minimum is 2 characters)などモデルのuser.rbで設定された事を指す。 %>
			</ul>
		<% end %>

			<%= f.label :title %>
				<%# 入力フォームの名前 %>
		<%= f.text_field :title, class: "col-xs-12 book_title" %>
			<%# テキストの入力フォームの生成 %>
	</div>

	<div class="field row">
		<%= f.label :opinion %> <!-- ここを変更 -->
			<%# 入力フォームの名前 %>
		<%= f.text_area :body, class: "col-xs-12 book_body" %>
			<%# テキストの入力フォームの生成 %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>
